<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" >
        <title>CS Jewellery</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
               <div>
                   <a href="index.html" class="brand">CS Jewellery</a>
               </div>
               <div>
                   <a href="cart.html">Cart</a>
                   <a href="signin.html">Sign In</a>
               </div>
            </header>
            <main>
                <div class="row center">
                   <div class="card">
                       <a href="product.html">
                           <img src="images/jewellery.jfif" class="small">
                       </a>
                       <div class="card-body">
                           <a href="product.html">
                               <h2>Gold Jewellery</h2>
                           </a>
                           <div class="rating">
                               <span>
                                   <i class="fa fa-star "></i>
                               </span>
                               <span>
                                <i class="fa fa-star "></i>
                            </span>
                            <span>
                                <i class="fa fa-star "></i>
                            </span>
                            <span>
                                <i class="fa fa-star "></i>
                            </span>
                           </div>
                           <div class="price">
                               Rs.25,000
                           </div>
                       </div>
                   </div>

                   <div class="card">
                    <a href="product.html">
                        <img src="images/jewellery.jfif" class="medium">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Gold Jewellery</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star "></i>
                            </span>
                            <span>
                             <i class="fa fa-star "></i>
                         </span>
                         <span>
                             <i class="fa fa-star "></i>
                         </span>
                         <span>
                             <i class="fa fa-star "></i>
                         </span>
                        </div>
                        <div class="price">
                            Rs.25,000
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="product.html">
                        <img src="images/jewellery.jfif" class="medium">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Gold Jewellery</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star "></i>
                            </span>
                            <span>
                             <i class="fa fa-star "></i>
                         </span>
                         <span>
                             <i class="fa fa-star "></i>
                         </span>
                         <span>
                             <i class="fa fa-star "></i>
                         </span>
                        </div>
                        <div class="price">
                            Rs.25,000
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="product.html">
                        <img src="images/jewellery.jfif" class="medium">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Gold Jewellery</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star "></i>
                            </span>
                            <span>
                             <i class="fa fa-star "></i>
                         </span>
                         <span>
                             <i class="fa fa-star "></i>
                         </span>
                         <span>
                             <i class="fa fa-star "></i>
                         </span>
                        </div>
                        <div class="price">
                            Rs.25,000
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="product.html">
                        <img src="images/jewellery.jfif" class="medium">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Gold Jewellery</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star "></i>
                            </span>
                            <span>
                             <i class="fa fa-star "></i>
                         </span>
                         <span>
                             <i class="fa fa-star "></i>
                         </span>
                         <span>
                             <i class="fa fa-star-0-half "></i>
                         </span>
                        </div>
                        <div class="price">
                            Rs.25,000
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="product.html">
                        <img src="images/jewellery.jfif" class="medium">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Gold Jewellery</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star "></i>
                            </span>
                            <span>
                             <i class="fa fa-star "></i>
                         </span>
                         <span>
                             <i class="fa fa-star "></i>
                         </span>
                         <span>
                             <i class="fa fa-star-0 "></i>
                         </span>
                        </div>
                        <div class="price">
                            Rs.25,000
                        </div>
                    </div>
                </div>
                </div>
            </main>
            <footer class="row center">All Rights Reserved</footer>
        </div>
    </body>
</html>